<header class="container-fluid header">
    <div class="container ">
        <div class="header-body">

            <div class="logo">
                <a href="inicio">
                    <img class="imageLogo" src="../../assets/logo.png">
                </a>
            </div>

            <div class="menu opciones">

                <ul class="list">
                    <li class="list-item">
                        <a href="#" class="icon">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li class="list-item menu">
                        <a href="#" class="icon">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>

                <div class="redes-sociales">
                    <ul class="list">
                        <li class="list-item">
                            <a href="facebook" class="icon">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="twitter" class="icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="instagram" class="icon">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</header>