/* You can add global styles to this file, and also import other style files */

.logo {
    width: 100px;
    display: inline-block;
}

.list {
    list-style: none;
    display: contents;
    color: #a8dadc;
}

.list-item {
    cursor: pointer;
    border: 2px solid;
    background: transparent none repeat scroll 0% 0%;
    color: #a8dadc;
    width: 40px;
    height: 40px;
    border-radius: 35px;
    margin-right: 8px;
    box-sizing: border-box;
    padding: 0px;
    -moz-box-pack: center;
    justify-content: center;
    display: inline-grid;
}

.opciones {
    display: inline-flex;
}

.header {
    z-index: 100;
    padding: 10px;
}

.icon {
    color: #a8dadc;
    display: block;
    font-size: 22px;
}

.imageLogo {
    width: 100%
}

.line {
    border-bottom: 3px solid #457b9d;
    padding: 10px;
}

.responsive {
    width: 100%;
    display: inline-flex;
    max-width: 100%;
    justify-content: space-between;
}

@media (max-width: 576px) {
    .opciones-redes {
        display: none;
    }
    .opciones-2 {
        display: inline;
    }
    .list-item {
        border-radius: none;
    }
}

.opciones-redes {
    padding-left: 15px;
}